<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">
   <display-name>infinispan-ec2-demo-web</display-name>
   <listener>
      <listener-class>org.infinispan.ec2demo.web.CacheServletListener</listener-class>
   </listener>
   <welcome-file-list>
      <welcome-file>jsp/VirusSearch.jsp</welcome-file>
   </welcome-file-list>

   <context-param>
      <param-name>InfinispanConfigFile</param-name>
      <param-value>${CFGPath}/infinispan-ec2-config.xml</param-value>
   </context-param>

   <servlet>
      <description></description>
      <display-name>CacheSearchServlet</display-name>
      <servlet-name>CacheSearchServlet</servlet-name>
      <servlet-class>org.infinispan.ec2demo.web.CacheSearchServlet</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>CacheSearchServlet</servlet-name>
      <url-pattern>/CacheSearchServlet</url-pattern>
   </servlet-mapping>        
</web-app>
