<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ JBoss, Home of Professional Open Source
  ~ Copyright 2010 Red Hat Inc. and/or its affiliates and other
  ~ contributors as indicated by the @author tags. All rights reserved.
  ~ See the copyright.txt in the distribution for a full listing of
  ~ individual contributors.
  ~
  ~ This is free software; you can redistribute it and/or modify it
  ~ under the terms of the GNU Lesser General Public License as
  ~ published by the Free Software Foundation; either version 2.1 of
  ~ the License, or (at your option) any later version.
  ~
  ~ This software is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
  ~ Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public
  ~ License along with this software; if not, write to the Free
  ~ Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
  ~ 02110-1301 USA, or see the FSF site: http://www.fsf.org.
  -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">
   <display-name>infinispan-ec2-demo-web</display-name>
   <listener>
      <listener-class>org.infinispan.ec2demo.web.CacheServletListener</listener-class>
   </listener>
   <welcome-file-list>
      <welcome-file>jsp/VirusSearch.jsp</welcome-file>
   </welcome-file-list>

   <context-param>
      <param-name>InfinispanConfigFile</param-name>
      <param-value>${CFGPath}/infinispan-ec2-config.xml</param-value>
   </context-param>

   <servlet>
      <description></description>
      <display-name>CacheSearchServlet</display-name>
      <servlet-name>CacheSearchServlet</servlet-name>
      <servlet-class>org.infinispan.ec2demo.web.CacheSearchServlet</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>CacheSearchServlet</servlet-name>
      <url-pattern>/CacheSearchServlet</url-pattern>
   </servlet-mapping>        
</web-app>
