<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.infinispan" slot="${slot}">
    <resources>
        <!-- Insert resources here -->
    </resources>

    <dependencies>
        <module name="javax.api"/>
        <module name="javax.transaction.api"/>
        <module name="javax.xml.bind.api"/>
        <module name="net.jcip"/>
        <module name="org.apache.xerces" services="import"/>
        <module name="org.infinispan.commons" slot="${slot}" export="true"/>
        <module name="org.infinispan.query" slot="${slot}" export="true" services="import" />
        <module name="org.infinispan.lucene-directory" slot="${slot}" export="true" services="import" />
        <module name="org.jboss.jandex"/>
        <module name="org.jboss.logging"/>
        <module name="org.jboss.marshalling"/>
        <module name="org.jboss.marshalling.river" services="import"/>
        <module name="org.jgroups" slot="${slot}"/>
        <module name="sun.jdk"/>
    </dependencies>
</module>
