<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.infinispan" slot="${slot}">
    <dependencies>
        <module name="org.infinispan.commons" slot="${slot}" export="true"/>
        <module name="org.infinispan.core" slot="${slot}" export="true" services="export" />
        <module name="org.infinispan.query" slot="${slot}" export="true" services="import" />
        <module name="org.infinispan.lucene-directory" slot="${slot}" export="true" services="import" />
    </dependencies>
</module>
