*                      @infinispan/community-committers
/api/                  @karesti @tristantarrant
/cli/                  @Crumby @tristantarrant
/client/hotrod-client  @jabolina @wburns
/client/rest-client/   @jabolina @tristantarrant
/core/                 @jabolina @tristantarrant @wburns
/graalvm/              @karesti @wburns @tristantarrant
/hibernate/            @tristantarrant @wburns
/integrationtests/     @andyuk1986 @Crumby @jabolina @tristantarrant @wburns
/jcache/               @tristantarrant @wburns
/lock/                 @jabolina @karesti
/multimap/             @karesti @wburns
/quarkus/              @karesti @wburns
/persistence/          @jabolina @wburns
/query/                @karesti @tristantarrant
/server/core/          @jabolina @wburns
/server/hotrod/        @jabolina @wburns
/server/memcached/     @jabolina @tristantarrant @wburns
/server/resp/          @jabolina @karesti @rigazilla @wburns
/server/rollingupgradetests @jabolina @wburns
/server/router/        @tristantarrant @wburns
/server/runtime/       @jabolina @tristantarrant @wburns
/server/tests/         @andyuk1986 @Crumby @jabolina @tristantarrant @wburns
/server/testdriver/    @karesti @tristantarrant
/spring/               @karesti @tristantarrant
/tasks/                @tristantarrant @wburns
/transcoders/          @tristantarrant @wburns
