<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.3" name="org.jgroups.azure">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <artifact name="${org.jgroups.azure:jgroups-azure}"/>
    </resources>

    <dependencies>
        <module name="javax.api"/>
        <module name="com.microsoft.azure.storage"/>
        <module name="org.jgroups"/>
    </dependencies>
</module>
