<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.3" name="org.infinispan.server">
   <properties>
      <property name="jboss.api" value="private" />
   </properties>
   
   <resources>
      <artifact name="${org.infinispan:infinispan-server-core}"/>
   </resources>

   <dependencies>
      <module name="javax.api" />
      <module name="javax.transaction.api" />
      <module name="javax.xml.bind.api" />
      <module name="org.apache.xerces" services="import" />
      <module name="org.infinispan" />
      <module name="org.jboss.logging" />
      <module name="org.jboss.marshalling" services="import"/>
      <module name="io.netty" />
      <module name="org.scala-lang.library" />
      <module name="org.jgroups" />
   </dependencies>
</module>
