<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.5" name="org.infinispan.tasks">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <artifact name="${org.infinispan:infinispan-tasks}"/>
    </resources>

    <dependencies>
        <module name="javax.api"/>
        <module name="javax.transaction.api"/>
        <module name="org.infinispan"/>
        <module name="org.infinispan.tasks.api" export="true"/>
        <module name="org.infinispan.query"/>
        <module name="org.jboss.logging"/>
    </dependencies>
</module>
