<?xml version="1.0" encoding="UTF-8"?>
<beans
   xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:p="http://www.springframework.org/schema/p"
   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

   <bean
      id="springEmbeddedCacheManagerWithDefaultConfiguration"
      class="org.infinispan.spring.provider.TestSpringEmbeddedCacheManagerFactoryBean" />

   <bean
      id="springEmbeddedCacheManagerConfiguredFromConfigurationFile"
      class="org.infinispan.spring.provider.TestSpringEmbeddedCacheManagerFactoryBean"
      p:configurationFileLocation="classpath:/org/infinispan/spring/provider/named-async-cache.xml" />

   <bean
      id="springEmbeddedCacheManagerConfiguredUsingSetters"
      class="org.infinispan.spring.provider.TestSpringEmbeddedCacheManagerFactoryBean"
      p:jmxDomain="test:jmx.Domain"
      p:cacheManagerName="test.cacheManager" />

</beans>
