<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.5" name="org.hibernate.search.elasticsearch">
    <resources>
        <artifact name="${org.hibernate:hibernate-search-elasticsearch}"/>
        <artifact name="${io.searchbox:jest}"/>
        <artifact name="${io.searchbox:jest-common}"/>
        <artifact name="${org.apache.commons:commons-lang3}"/>
        <artifact name="${com.google.code.gson:gson}"/>
    </resources>
    <dependencies>
        <module name="com.google.guava"/>
        <module name="org.hibernate.search.engine"/>
        <module name="org.hibernate.commons-annotations"/>
        <module name="javax.xml.bind.api"/>
        <module name="org.apache.httpcomponents"/>
        <module name="org.jboss.logging"/>
        <module name="org.slf4j"/>
    </dependencies>
</module>
