<!-- MAIN START -->
<div class="container-fluid" style="margin:20px">

  <!-- TOP ROW #1 START -->
  <div class="row">
    <div class="col-md-2 text-center">
      <h2 style="margin:0px; padding:0px;">
        <select class="no-border" style="text-decoration:underline;"
        ng-model="currentCluster" ng-options="cluster.name for cluster in clusters">
        </select>
      </h2>
    </div>
    <div class="col-md-2 text-center">
      <span class="bigger-font"> ? </span> <span class="smaller-font"> Nodes</span>
    </div>
    <div class="col-md-3 text-center">
      <a class="bigger-font link-jobs">?</a> <span class="smaller-font"> current map/reduce jobs</span>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-3 text-center">
      <div>
        <select>
          <option value="0">Actions</option>
          <option value="1">Configure clusters</option>
          <option value="2">Create node</option>
          <option value="3">Create cache</option>
          <option value="4">View map/reduce jobs</option>
          <option value="5">View merge/split history</option>
          <option value="6">Shut down cluster</option>
        </select>
      </div>
    </div>
  </div>
  <!-- TOP ROW #1 END -->

  <!-- TOP ROW #2 START -->
  <div class="row">
    <div class="col-md-2 text-center">
      <h4 style="color:   #009A31;">Available</h4>
    </div>
    <div class="col-md-2 text-center">
      <span class="bigger-font"> {{currentCluster.caches.length || '?'}} </span> <span class="smaller-font"> Caches</span>
    </div>
    <div class="col-md-3 text-center">
      <a class="bigger-font link-jobs">?</a> <span class="smaller-font"> complete map/reduce jobs</span>
    </div>
    <div class="col-md-5">
    </div>
  </div>
  <!-- TOP ROW #2 END -->

  <div class="row stretch" style="margin-top:20px;">

    <!-- LEFT COLUMN START -->
    <div class="col-md-2 borders stretch-full" style="background-color:#F0F0F0;">
      <div class="row" style="padding:10px;">
        <div class="col-md-12">
          <div ng-show="shared.currentCollection == 'nodes'">
            <span style="font-size:16px; font-weight: bold;"> Caches</span> <br>
            <div ng-repeat="cache in currentCluster.caches | limitTo: 3">
              <input type="checkbox" value="checkbox" name="caches"> {{cache.name}} <br>
            </div>
          </div>
          <div ng-show="shared.currentCollection == 'caches'">
            <span style="font-size:16px; font-weight: bold;"> Servers</span> <br>
            <input type="checkbox" value="checkbox" name="caches"> Server Name 1<br>
            <input type="checkbox" value="checkbox" name="caches"> Server Name 2<br>
            <input type="checkbox" value="checkbox" name="caches"> Server Name 3<br>
          </div>

          <br>
          <span class="slider-text"> Average read time </span> <br>
          <div class="slider-one"></div>
          <span class="slider-min"> 100 </span> <span class="slider-max"> 200 </span> <br> <br>

          <span class="slider-text"> Average read time </span> <br>
          <div class="slider-one"></div>
          <span class="slider-min"> 100 </span> <span class="slider-max"> 200 </span> <br> <br>

          <span class="slider-text"> Average read time </span> <br>
          <div class="slider-one"></div>
          <span class="slider-min"> 100 </span> <span class="slider-max"> 200 </span> <br> <br>

        </div>
      </div>
    </div>
    <!-- LEFT COLUMN END -->

    <!-- RIGHT COLUMN START -->
    <div class="col-md-10 borders-top-only" >

      <!-- RIGHT COLUMN ROW #1 START -->
      <div class="row">
        <div class="col-md-12" style="padding-top:20px; padding-bottom:20px;">
          <input type="search" class="search-field">
          <div style="float:left;">
            <span class="glyphicon glyphicon-th-large header-links-container"
                  ng-class="{selected: shared.currentCollection == 'nodes'}">
              <a class="header-links" ng-click="shared.currentCollection = 'nodes'"> Nodes </a>
            </span>
            <span class="glyphicon glyphicon-tasks header-links-container"
                  ng-class="{selected: shared.currentCollection == 'caches'}">
              <a class="header-links" ng-click="shared.currentCollection = 'caches'"> Caches </a>
            </span>
          </div>
        </div>
      </div>
      <!-- RIGHT COLUMN ROW #1 END -->

      <!-- RIGHT COLUMN ROW #2 START -->
      <div class="row" style="padding-left:15px !important; margin: 0px important!;">
        <div ng-show="shared.currentCollection == 'nodes'">
          <div ng-show="!currentCluster.nodes || currentCluster.nodes.length === 0">There are no nodes to show.</div>
          <div class="col-md-2 nopadding" ng-repeat="node in currentCluster.nodes">
            <a class="box text-center" ui-sref="nodeDetails({clusterName: currentCluster.name, nodeName: node.name})">
              Middleware SoutA_43: <br>
              Node_name <br><br>
              ? caches <br>
              ? writes/ms <br>
            </a>
          </div>
        </div>

        <div ng-show="shared.currentCollection == 'caches'">
          <div ng-show="!currentCluster.caches || currentCluster.caches.length === 0">There are no caches to show.</div>
          <div class="col-md-2 nopadding" ng-repeat="cache in currentCluster.caches">
            <a class="box" ui-sref="cacheDetails({clusterName: currentCluster.name, cacheName: cache.name})">
              <span style="font-size:16px">{{cache.name}}</span> <br>
              <br>
              ? nodes <br>
              ? writes/ms <br>
            </a>
          </div>
        </div>
      </div>
      <!-- RIGHT COLUMN ROW #2 END -->

    </div>
    <!-- RIGHT COLUMN END -->

  </div>

</div>
<!-- MAIN END -->