<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.5" name="org.infinispan.server.router">
   <properties>
      <property name="jboss.api" value="private" />
   </properties>
   <resources>
      <artifact name="${org.infinispan:infinispan-server-router}"/>
   </resources>

   <dependencies>
      <module name="javax.api" />
      <module name="javax.transaction.api" />
      <module name="javax.xml.bind.api" />
      <module name="org.apache.xerces" services="import" />
      <module name="org.infinispan.server.hotrod" />
      <module name="org.infinispan.server.rest" />
      <module name="javax.ws.rs.api"/>
      <!-- Netty is exported by server core -->
      <module name="org.infinispan.server" />
      <module name="org.infinispan" />
      <module name="org.jboss.logging" />
   </dependencies>
</module>
