<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.infinispan.hibernate-search.directory-provider" slot="${slot}">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>
    <resources>
        <!-- Insert resources here -->
    </resources>

    <dependencies>
        <module name="org.infinispan.core" slot="${slot}"/>
        <module name="org.infinispan.commons" slot="${slot}"/>
        <module name="org.hibernate.search.engine" slot="${hibernate.search.slot}"/>
        <module name="org.infinispan.lucene-directory" slot="${slot}"/>
        <module name="org.jboss.logging"/>
        <module name="javax.api"/>
    </dependencies>
</module>
