<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.3" name="io.reactivex.rxjava2.rxjava">
    <resources>
        <artifact name="${io.reactivex.rxjava2:rxjava}" />
    </resources>
    <dependencies>
        <module name="org.reactivestreams.reactive-streams" export="true"/>
    </dependencies>
</module>

