<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.5" name="io.netty" slot="@infinispan.module.slot@">
    <resources>
        <artifact name="${io.netty:netty-buffer}" />
        <artifact name="${io.netty:netty-common}" />
        <artifact name="${io.netty:netty-codec}" />
        <artifact name="${io.netty:netty-codec-http}" />
        <artifact name="${io.netty:netty-codec-http2}" />
        <artifact name="${io.netty:netty-handler}" />
        <artifact name="${io.netty:netty-resolver}" />
        <artifact name="${io.netty:netty-transport}" />
        <artifact name="${io.netty:netty-transport-native-epoll}" />
        <artifact name="${io.netty:netty-transport-native-epoll::linux-x86_64}" />
        <artifact name="${io.netty:netty-transport-native-unix-common}" />
    </resources>

    <dependencies>
        <module name="javax.api"/>
        <module name="org.javassist" optional="true"/>
    </dependencies>
</module>
