<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <appender name="FILE" class="org.apache.log4j.FileAppender">
        <param name="File" value="apache-ds.log" />
        <param name="Append" value="true" />
        <param name="Threshold" value="INFO" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{HH:mm:ss,SSS} %-5p (%t) [%c] %m%n" />
        </layout>
    </appender>

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="Threshold" value="INFO" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{HH:mm:ss,SSS} %-5p [%c{1}] (%t) %m%n" />
        </layout>
    </appender>

	<!-- ================ -->
	<!-- Limit categories -->
	<!-- ================ -->
    
    <category name="org.apache.directory">
        <priority value="INFO"/>
    </category>

    <!-- ======================= -->
	<!-- Setup the Root category -->
	<!-- ======================= -->

    <root>
        <priority value="WARN" />
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

</log4j:configuration>
