<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.5" name="org.jboss.marshalling.river">
    <resources>
        <artifact name="${org.jboss.marshalling:jboss-marshalling-river}"/>
    </resources>

    <dependencies>
        <module name="org.jboss.modules"/>
        <module name="sun.jdk" />
    </dependencies>
</module>
