<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.3" name="org.apache.lucene">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <artifact name="${org.apache.lucene:lucene-analyzers-common}"/>
        <artifact name="${org.apache.lucene:lucene-core}"/>
        <artifact name="${org.apache.lucene:lucene-facet}"/>
        <artifact name="${org.apache.lucene:lucene-memory}"/>
        <artifact name="${org.apache.lucene:lucene-queries}"/>
        <artifact name="${org.apache.lucene:lucene-queryparser}"/>
    </resources>

    <dependencies>
        <module name="javax.api"/>
    </dependencies>
</module>
