<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.3" name="org.apache.httpcomponents" slot="@infinispan.module.slot@">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <artifact name="${org.apache.httpcomponents:httpclient}"/>
        <artifact name="${org.apache.httpcomponents:httpcore}"/>
    </resources>

    <dependencies>
        <module name="javax.api"/>
        <module name="org.apache.commons.codec" slot="@infinispan.module.slot@"/>
        <module name="org.jboss.logging.commons.logging"/>
    </dependencies>
</module>
