<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.5" name="org.jgroups.azure" slot="@infinispan.module.slot@">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <artifact name="${org.jgroups.azure:jgroups-azure}"/>
    </resources>

    <dependencies>
        <module name="javax.api"/>
        <module name="com.microsoft.azure.storage" slot="@infinispan.module.slot@"/>
        <module name="org.jgroups" slot="@infinispan.module.slot@"/>
    </dependencies>
</module>
