<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.infinispan.jcache" slot="${slot}">
    <resources>
        <!-- Insert resources here -->
    </resources>

    <dependencies>
        <module name="javax.api"/>
        <module name="javax.cache.api" slot="${slot}" export="true"/>
        <module name="javax.transaction.api"/>
        <module name="org.jgroups" slot="${slot}"/>
        <module name="org.infinispan" slot="${slot}"/>
        <module name="org.infinispan.cdi" slot="${slot}" services="import" />
        <module name="org.jboss.logging"/>
    </dependencies>
</module>
