<?xml version="1.0" encoding="UTF-8"?>
    <!--


        Copyright (C) 2009 Cloud Conscious, LLC.
        <info@cloudconscious.com>

        ====================================================================
        Licensed under the Apache License, Version 2.0 (the "License");
        you may not use this file except in compliance with the License.
        You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0 Unless required by
        applicable law or agreed to in writing, software distributed
        under the License is distributed on an "AS IS" BASIS, WITHOUT
        WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
        See the License for the specific language governing permissions
        and limitations under the License.
        ====================================================================
    -->
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

    <!--
        For more configuration infromation and examples see the Apache
        Log4j website: http://logging.apache.org/log4j/
    -->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
    debug="false">

    <!-- A time/date based rolling appender -->
    <appender name="WIREFILE" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="target/test-data/jclouds-wire.log" />
        <param name="Append" value="true" />

        <!-- Rollover at midnight each day -->
        <param name="DatePattern" value="'.'yyyy-MM-dd" />

        <param name="Threshold" value="TRACE" />

        <layout class="org.apache.log4j.PatternLayout">
            <!-- The default pattern: Date Priority [Category] Message\n -->
            <param name="ConversionPattern" value="%d %-5p [%c] (%t) %m%n" />

            <!--
                The full pattern: Date MS Priority [Category]
                (Thread:NDC) Message\n <param name="ConversionPattern"
                value="%d %-5r %-5p [%c] (%t:%x) %m%n"/>
            -->
        </layout>
    </appender>

    <!-- A time/date based rolling appender -->
    <appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="target/test-data/jclouds.log" />
        <param name="Append" value="true" />

        <!-- Rollover at midnight each day -->
        <param name="DatePattern" value="'.'yyyy-MM-dd" />

        <param name="Threshold" value="TRACE" />

        <layout class="org.apache.log4j.PatternLayout">
            <!-- The default pattern: Date Priority [Category] Message\n -->
            <param name="ConversionPattern" value="%d %-5p [%c] (%t) %m%n" />

            <!--
                The full pattern: Date MS Priority [Category]
                (Thread:NDC) Message\n <param name="ConversionPattern"
                value="%d %-5r %-5p [%c] (%t:%x) %m%n"/>
            -->
        </layout>
    </appender>

    <appender name="ASYNC" class="org.apache.log4j.AsyncAppender">
        <appender-ref ref="FILE" />
    </appender>

    <appender name="ASYNCWIRE" class="org.apache.log4j.AsyncAppender">
        <appender-ref ref="WIREFILE" />
    </appender>

    <!-- A time/date based rolling appender -->
    <appender name="BLOBSTOREFILE" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="target/test-data/jclouds-blobstore.log" />
        <param name="Append" value="true" />

        <!-- Rollover at midnight each day -->
        <param name="DatePattern" value="'.'yyyy-MM-dd" />

        <param name="Threshold" value="TRACE" />

        <layout class="org.apache.log4j.PatternLayout">
            <!-- The default pattern: Date Priority [Category] Message\n -->
            <param name="ConversionPattern" value="%d %-5p [%c] (%t) %m%n" />

            <!--
                The full pattern: Date MS Priority [Category]
                (Thread:NDC) Message\n <param name="ConversionPattern"
                value="%d %-5r %-5p [%c] (%t:%x) %m%n"/>
            -->
        </layout>
    </appender>

    <appender name="ASYNCBLOBSTORE" class="org.apache.log4j.AsyncAppender">
        <appender-ref ref="BLOBSTOREFILE" />
    </appender>
    <!-- ================ -->
    <!-- Limit categories -->
    <!-- ================ -->
    <category name="jclouds.blobstore">
        <priority value="TRACE" />
        <appender-ref ref="ASYNCBLOBSTORE" />
    </category>

    <category name="org.jclouds">
        <priority value="INFO" />
        <appender-ref ref="ASYNC" />
    </category>

    <category name="jclouds.headers">
        <priority value="DEBUG" />
        <appender-ref ref="ASYNCWIRE" />
    </category>
   <!--
   
        <category name="jclouds.wire"> <priority value="DEBUG" />
        <appender-ref ref="ASYNCWIRE" /> </category>
    --><!-- ======================= -->
    <!-- Setup the Root category -->
    <!-- ======================= -->

    <root>
        <priority value="WARN" />
    </root>

</log4j:configuration>
