<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="org.infinispan.core" slot="${slot}">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>
    <resources>
        <!-- Insert resources here -->
    </resources>

    <dependencies>
        <module name="javax.api"/>
        <module name="javax.transaction.api"/>
        <module name="org.apache.xerces" services="import"/>
        <module name="org.infinispan.commons" slot="${slot}" />
        <module name="com.github.ben-manes.caffeine" slot="${slot}"/>
        <module name="io.reactivex.rxjava2" slot="${slot}"/>
        <module name="org.reactivestreams" slot="${slot}"/>
        <module name="org.jboss.jandex"/>
        <module name="org.jboss.logging"/>
        <module name="org.jboss.marshalling" slot="${slot}" services="import"/>
        <module name="org.jgroups" slot="${slot}"/>
        <module name="sun.jdk"/>
        <!-- The CacheStore modules are listed as dependencies so that people can use them even
          when they aren't directly exposed to the deployment !-->
        <module name="org.infinispan.persistence.jdbc" slot="${slot}" services="import" optional="true"/>
        <module name="org.infinispan.persistence.jpa" slot="${slot}" services="import" optional="true"/>
        <module name="org.infinispan.persistence.remote" slot="${slot}" services="import" optional="true"/>
        <module name="org.infinispan.persistence.rest" slot="${slot}" services="import" optional="true"/>
        <module name="org.infinispan.persistence.rocksdb" slot="${slot}" services="import" optional="true"/>
    </dependencies>
</module>
