<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.5" name="org.infinispan.query.core" slot="@infinispan.module.slot@">
   <resources>
      <artifact name="${org.infinispan:infinispan-query-core}"/>
   </resources>

   <dependencies>
      <module name="org.infinispan.core" slot="@infinispan.module.slot@"/>
      <module name="org.infinispan.commons" slot="@infinispan.module.slot@"/>
      <module name="org.infinispan.query.dsl" slot="@infinispan.module.slot@"/>
      <module name="org.infinispan.objectfilter" slot="@infinispan.module.slot@"/>
      <module name="org.infinispan.protostream" slot="@infinispan.module.slot@" optional="true"/>
      <module name="org.jboss.logging"/>
   </dependencies>
</module>
