<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.5" name="org.infinispan.tasks" slot="@infinispan.module.slot@">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <artifact name="${org.infinispan:infinispan-tasks}"/>
    </resources>

    <dependencies>
        <module name="jdk.scripting.nashorn" services="export" export="true"/>
        <module name="javax.api"/>
        <module name="javax.transaction.api"/>
        <module name="org.infinispan.core" slot="@infinispan.module.slot@"/>
        <module name="org.infinispan.commons" slot="@infinispan.module.slot@"/>
        <module name="org.infinispan.tasks.api" export="true" slot="@infinispan.module.slot@"/>
        <module name="org.infinispan.query" slot="@infinispan.module.slot@"/>
        <module name="org.jboss.logging"/>
        <module name="sun.scripting" services="export" export="true"/>
    </dependencies>
</module>
