<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.5" name="org.infinispan.objectfilter">
   <resources>
      <artifact name="${org.infinispan:infinispan-objectfilter}"/>
   </resources>

   <dependencies>
      <module name="org.infinispan.query.dsl"/>
      <!-- TODO [anistor] We still need antlr-runtime because RecognitionException is used by the logger -->
      <module name="org.antlr.antlr-runtime"/>
      <module name="org.infinispan.protostream"/>
      <module name="org.jboss.logging" />
   </dependencies>
</module>
