<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:p="http://www.springframework.org/schema/p"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean
            id="springRemoteCacheManagerWithDefaultConfiguration"
            class="org.infinispan.spring.remote.provider.SpringRemoteCacheManagerFactoryBean"/>

    <bean
            id="springRemoteCacheManagerConfiguredFromConfigurationPropertiesFile"
            class="org.infinispan.spring.remote.provider.SpringRemoteCacheManagerFactoryBean"
            p:configurationPropertiesFileLocation="classpath:/org/infinispan/spring/remote/provider/hotrod-client.properties"/>

    <bean
            id="springRemoteCacheManagerConfiguredUsingConfigurationProperties"
            class="org.infinispan.spring.remote.provider.SpringRemoteCacheManagerFactoryBean">
        <property
                name="configurationProperties">
            <props>
                <prop key="infinispan.client.hotrod.force_return_values">true</prop>
                <prop key="infinispan.spring.operation.read.timeout">500</prop>
                <prop key="infinispan.spring.operation.write.timeout">700</prop>
            </props>
        </property>
    </bean>

    <bean
            id="springRemoteCacheManagerConfiguredUsingSetters"
            class="org.infinispan.spring.remote.provider.SpringRemoteCacheManagerFactoryBean">
        <property
                name="configurationProperties">
            <props>
                <prop key=""></prop>
            </props>
        </property>
    </bean>

</beans>
