<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.1" name="org.infinispan.query" slot="${slot}">
    <resources>
        <!-- Insert resources here -->
    </resources>

    <dependencies>
        <module name="javax.api" />
        <module name="javax.transaction.api" />
        <module name="org.apache.lucene" slot="${lucene4.slot}"/>
        <module name="org.hibernate.hql.parser" slot="${slot}"/>
        <module name="org.hibernate.hql.lucene" slot="${slot}"/>
        <module name="org.hibernate.search.engine" slot="${hibernate.search.slot}" export="true"/>
        <module name="org.infinispan" slot="${slot}"/>
        <module name="org.infinispan.objectfilter" slot="${slot}"/>
        <module name="org.infinispan.lucene-directory" slot="${slot}" services="export" />
        <module name="org.hibernate.search.infinispan-storage" slot="${slot}" />
        <module name="org.jboss.logging" />
    </dependencies>
</module>
