<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.5" name="org.infinispan.server.rest">
   <properties>
      <property name="jboss.api" value="private"/>
   </properties>

   <resources>
      <artifact name="${org.infinispan:infinispan-server-rest}"/>
   </resources>

   <dependencies>
      <module name="javax.api" />
      <module name="javax.transaction.api" />
      <module name="javax.ws.rs.api" />
      <module name="org.apache.xerces" services="import" />
      <module name="org.infinispan" />
      <module name="org.infinispan.remote-query.server" />
      <module name="org.infinispan.query.dsl" />
      <module name="org.infinispan.objectfilter" />
      <!-- Netty is exported by server core -->
      <module name="org.infinispan.server" />
      <module name="org.jboss.logging" />
      <module name="org.jboss.marshalling" services="import"/>
      <module name="org.jgroups" />
   </dependencies>
</module>
