<?xml version="1.0" encoding="UTF-8"?>

<Configuration name="CommandLineConfig" packages="org.infinispan.util.logging.log4j">
  <Properties>
    <Property name="infinispan.module-suffix"></Property>
    <Property name="infinispan.log.path">.</Property>
    <Property name="infinispan.log.thread-filter"></Property>
  </Properties>

  <Appenders>
    <Console name="STDOUT">
      <PatternLayout pattern="%d{HH:mm:ss,SSS} %-5p (%t) [%c{1}] %m%n%throwable{10}"/>
    </Console>
    <File name="File" fileName="${sys:infinispan.log.path}/infinispan${sys:infinispan.module-suffix}.log"
          append="true">
      <PatternLayout pattern="%d{HH:mm:ss,SSS} %-5p (%t:%x) [%c{1}] %m%n"/>
    </File>
  </Appenders>

  <Loggers>
    <Logger name="org.jboss.arquillian" level="INFO"/>
    <Logger name="org.infinispan.arquillian.core.WithRunningServerObserver" level="INFO"/>
    <Logger name="org.infinispan.commons.test.JUnitTestListener" level="INFO"/>
    <Logger name="org.infinispan" level="DEBUG"/>
    <Logger name="com.mchange" level="WARN"/>
    <Logger name="org.apache.auth" level="INFO"/>
    <Logger name="org.apache.commons.httpclient.auth" level="INFO"/>
    <Logger name="org.apache.http" level="INFO"/>
    <Logger name="org.apache.directory" level="WARN"/>
    <Logger name="org.jgroups" level="DEBUG"/>

    <Root level="DEBUG">
      <AppenderRef ref="STDOUT" level="ERROR"/>
      <AppenderRef ref="File"/>
    </Root>
  </Loggers>
</Configuration>
