<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ JBoss, Home of Professional Open Source
  ~ Copyright 2009 Red Hat Inc. and/or its affiliates and other
  ~ contributors as indicated by the @author tags. All rights reserved.
  ~ See the copyright.txt in the distribution for a full listing of
  ~ individual contributors.
  ~
  ~ This is free software; you can redistribute it and/or modify it
  ~ under the terms of the GNU Lesser General Public License as
  ~ published by the Free Software Foundation; either version 2.1 of
  ~ the License, or (at your option) any later version.
  ~
  ~ This software is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
  ~ Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public
  ~ License along with this software; if not, write to the Free
  ~ Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
  ~ 02110-1301 USA, or see the FSF site: http://www.fsf.org.
  -->
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!--
   For more configuration infromation and examples see the Apache Log4j website: http://logging.apache.org/log4j/
 -->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

   <!-- A time/date based rolling appender -->
   <appender name="FILE" class="org.apache.log4j.FileAppender">
      <param name="File" value="${infinispan.module-name}.log"/>
   <!--<appender name="FILE" class="org.infinispan.util.logging.log4j.CompressedFileAppender">-->
      <!--<param name="File" value="infinispan.log.gz"/>-->
      <param name="Append" value="false"/>

      <param name="Threshold" value="TRACE"/>

      <layout class="org.apache.log4j.PatternLayout">
         <!-- The default pattern: Date Priority (Thread) [Category] Message\n -->
         <param name="ConversionPattern" value="%d %-5p (%t) [%c] %m%n"/>

         <!-- The full pattern: Date MS Priority [Category] (Thread:NDC) Message\n
        <param name="ConversionPattern" value="%d %-5r %-5p [%c] (%t:%x) %m%n"/>
         -->
      </layout>
   </appender>

   <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
      <param name="Threshold" value="WARN"/>
      <param name="Target" value="System.out"/>

      <layout class="org.apache.log4j.PatternLayout">
         <!-- The default pattern: Date Priority [Category] Message\n -->
         <param name="ConversionPattern" value="%d %-5p [%c{1}] (%t) %m%n"/>
      </layout>
   </appender>


   <!-- ================ -->
   <!-- Limit categories -->
   <!-- ================ -->

   <category name="org.infinispan">
      <priority value="DEBUG"/>
   </category>

   <category name="org.infinispan.distribution">
      <priority value="DEBUG"/>
   </category>

   <category name="org.infinispan.marshall">
      <priority value="WARN"/>
   </category>

   <category name="org.infinispan.profiling">
      <priority value="WARN"/>
   </category>

   <category name="org.infinispan.jmx">
      <priority value="WARN"/>
   </category>

   <category name="org.infinispan.factories">
      <priority value="WARN"/>
   </category>

   <category name="org.infinispan.client.hotrod">
      <priority value="WARN"/>
   </category>

   <category name="org.infinispan.lucene">
      <priority value="WARN"/>
   </category>

   <category name="com.mchange">
      <priority value="WARN"/>
   </category>

   <category name="org.jgroups">
      <priority value="DEBUG"/>
   </category>

   <!-- ======================= -->
   <!-- Setup the Root category -->
   <!-- ======================= -->

   <root>
      <priority value="INFO"/>
      <!--<appender-ref ref="CONSOLE"/>-->
      <appender-ref ref="FILE"/>
   </root>

</log4j:configuration>
