<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.iq80.leveldb" slot="${slot}">
   <properties>
      <property name="jboss.api" value="private"/>
   </properties>

   <resources>
      <!-- Insert resources here -->
   </resources>

   <dependencies>
      <module name="org.fusesource.leveldbjni-all" slot="${slot}"/>
      <module name="com.google.guava"/>
      <module name="sun.jdk"/>
   </dependencies>
</module>
