<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.3" name="org.infinispan.remote-query.server">
    <resources>
        <artifact name="${org.infinispan:infinispan-remote-query-server}"/>
    </resources>
    <dependencies>
        <module name="javax.api" />
        <module name="javax.transaction.api" />
        <module name="org.hibernate.hql.parser" />
        <module name="org.hibernate.hql.lucene" />
        <module name="org.hibernate.search.engine" />
        <module name="org.infinispan" />
        <module name="org.infinispan.server" />
        <module name="org.infinispan.protostream" />
        <module name="org.infinispan.objectfilter" />
        <module name="org.infinispan.query" />
        <module name="org.infinispan.query.dsl"/>
        <module name="org.infinispan.remote-query.client" />
        <module name="org.jboss.logging" />
    </dependencies>
</module>
