<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.5" name="com.fasterxml.jackson.core.jackson-core" slot="@infinispan.module.slot@">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <artifact name="${com.fasterxml.jackson.core:jackson-core}"/>
    </resources>
</module>
