<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="org.infinispan.persistence.rocksdb" slot="${slot}">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <!-- Insert resources here -->
    </resources>

    <dependencies>
        <module name="javax.api"/>
        <module name="javax.transaction.api"/>
        <module name="org.infinispan.core" slot="${slot}"/>
        <module name="org.infinispan.commons" slot="${slot}"/>
        <module name="io.reactivex.rxjava2" slot="${slot}"/>
        <module name="org.reactivestreams" slot="${slot}"/>
        <module name="org.jboss.logging"/>
        <!-- RocksDB store specific dependencies -->
        <module name="org.rocksdb.rocksdbjni" slot="${slot}"/>
    </dependencies>
</module>
