<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.5" name="org.hibernate.search.engine">
    <resources>
        <artifact name="${org.hibernate:hibernate-search-engine}" />
    </resources>
    <dependencies>
        <module name="javax.transaction.api" />
        <module name="org.hibernate.commons-annotations" />
        <module name="org.apache.lucene" export="true" />
        <module name="org.apache.lucene.internal" />
        <module name="org.jboss.logging" />
        <module name="org.infinispan.hibernate-search.directory-provider" services="import"/>
        <module name="org.hibernate.search.elasticsearch" services="import"/>
        <module name="org.hibernate.search.serialization-avro" services="import"/>
        <module name="javax.api" />
        <module name="org.jboss.as.naming" />
    </dependencies>
</module>
