<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.fusesource.leveldbjni-all" slot="${slot}">
   <properties>
      <property name="jboss.api" value="private"/>
   </properties>

   <resources>
      <!-- Insert resources here -->
   </resources>

   <dependencies>
   </dependencies>
</module>
