<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.5" name="org.jboss.marshalling" slot="@infinispan.module.slot@">
    <resources>
        <artifact name="${org.jboss.marshalling:jboss-marshalling-osgi}"/>
    </resources>

    <dependencies>
        <module name="jdk.unsupported"/>
        <module name="org.jboss.modules"/>
    </dependencies>
</module>
