<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.infinispan.persistence.leveldb" slot="${slot}">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <!-- Insert resources here -->
    </resources>

    <dependencies>
        <module name="javax.api"/>
        <module name="javax.transaction.api"/>
        <module name="org.infinispan.core" slot="${slot}"/>
        <module name="org.infinispan.commons" slot="${slot}"/>
        <module name="org.jboss.logging"/>
        <!-- LevelDB store specific dependencies -->
        <module name="org.iq80.leveldb" optional="true" slot="${slot}"/>
        <module name="org.fusesource.leveldbjni-all" export="true" optional="true" slot="${slot}"/>
    </dependencies>
</module>
