<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.3" name="org.fusesource.leveldbjni-all">
   <properties>
      <property name="jboss.api" value="private"/>
   </properties>

   <resources>
      <artifact name="${org.fusesource.leveldbjni:leveldbjni-all}" />
   </resources>

   <dependencies>
   </dependencies>
</module>
