<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.5" name="org.infinispan.persistence.rocksdb">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <artifact name="${org.infinispan:infinispan-cachestore-rocksdb}"/>
    </resources>

    <dependencies>
        <module name="javax.api"/>
        <module name="javax.transaction.api"/>
        <module name="org.infinispan"/>
        <module name="org.jboss.logging"/>
        <!-- RocksDB store specific dependencies -->
        <module name="org.rocksdb.rocksdbjni" optional="true"/>
    </dependencies>
</module>
