<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.5" name="org.jgroups">

    <resources>
        <artifact name="${org.jgroups:jgroups}"/>
    </resources>

    <dependencies>
        <module name="javax.api"/>
        <module name="org.jgroups.extension"/>
        <module name="org.jgroups.azure"/>
        <module name="org.jgroups.kubernetes"/>
        <module name="org.wildfly.security.elytron-private" services="import"/>
        <module name="sun.jdk"/>
    </dependencies>
</module>
