<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.3" name="org.jgroups">

    <resources>
        <artifact name="${org.jgroups:jgroups}"/>
    </resources>

    <dependencies>
        <module name="javax.api"/>
        <module name="org.jgroups.extension"/>
        <module name="org.jboss.sasl" services="import" />
    </dependencies>
</module>
