<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="com.fasterxml.jackson.core.jackson-databind" slot="@infinispan.module.slot@">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <artifact name="${com.fasterxml.jackson.core:jackson-databind}"/>
    </resources>

    <dependencies>
        <module name="com.fasterxml.jackson.core.jackson-core" slot="@infinispan.module.slot@" export="true"/>
        <module name="com.fasterxml.jackson.core.jackson-annotations" slot="@infinispan.module.slot@" export="true"/>
    </dependencies>

</module>
