name: Pull Request Open

on:
  pull_request_target:
    branches:
      - main
      - 14.0.x

    types:
      - opened
      - reopened

jobs:
  updateJira:
    if: github.actor != 'dependabot[bot]'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Extract Jira Key
        run: echo ISSUE_KEY=$(echo "${PR_TITLE}" | grep -oP 'ISPN-(?P<id>[0-9]+)') >> $GITHUB_ENV
        env:
          PR_TITLE: ${{ github.event.pull_request.title }}

      - run: echo ${{ env.ISSUE_KEY }}
      - run: echo "$ISSUE_KEY"

      - name: Link Pull Request
        if: ${{ env.ISSUE_KEY != '' }}
        run: ./bin/jira/add_pull_request.sh
        env:
          ISSUE_KEY: ${{ env.ISSUE_KEY }}
          PULL_REQUEST: ${{ github.event.pull_request.html_url }}
          TOKEN: ${{ secrets.JIRA_API_TOKEN }}

      - name: Transition Issue to Code Review
        if: ${{ env.ISSUE_KEY != '' }}
        run: ./bin/jira/transition.sh
        env:
          ISSUE_KEY: ${{ env.ISSUE_KEY }}
          TOKEN: ${{ secrets.JIRA_API_TOKEN }}
          TRANSITION: Code Review

      - name: Set PR Milestone
        id: milestone
        run: |
          sudo apt-get install xmlstarlet
          MVN_VERSION=$(xmlstarlet sel -t -m _:project -v _:version pom.xml)
          export MAJOR_VERSION=${MVN_VERSION%.*.*}
          gh pr edit ${{ github.event.pull_request.number }} --milestone "$(./bin/jira/get_milestone.sh)"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PROJECT_KEY: ISPN
          TOKEN: ${{ secrets.JIRA_API_TOKEN }}
