name: Pull Request Open

on:
  pull_request_target:
    branches:
      - main
      - 14.0.x
      - 15.*.x

    types:
      - opened
      - reopened

jobs:
  targetlabel:
    runs-on: ubuntu-latest
    steps:
      - name: Add target label
        run: |
          TARGET="target/${{ github.event.pull_request.base.ref }}"
          if gh api repos/${GH_REPO}/labels -q '.[].name' --paginate | grep -qxF "$TARGET"; then
            gh pr edit ${{ github.event.pull_request.number }} --add-label "$TARGET"
          fi
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_REPO: ${{ github.repository }}
