name: JDK Compatibility

on:
  push:
    branches:
      - main
      - '*.0.x'

  pull_request:
    branches:
      - main
      - '*.0.x'

concurrency:
  # Cancel jobs same head_branch same repo, works
  # both for pull_request and push
  group: >
      ${{ github.workflow }}-${{ github.event.repository.full_name }}-
      ${{ github.event.pull_request.head.ref || github.event.push.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        jdk:
          - '24-ea'

    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.jdk }}
          distribution: 'temurin'

      - name: Build Infinispan
        run: ./mvnw -B install -DskipTests
