name: JDK Compatibility

on:
  push:
    branches:
      - main
      - '*.0.x'

  pull_request:
    branches:
      - main
      - '*.0.x'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        jdk:
          - '24-ea'

    steps:
      - uses: actions/checkout@v6

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.jdk }}
          distribution: 'temurin'

      - name: Build Infinispan
        run: ./mvnw -B install -DskipTests
