name: Synchronize changes to the website

on:
  push:
    branches:
      - main
      - 13.0.x
    paths:
      - documentation

jobs:
  upload:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: maven

    - name: Build docs with Maven
      run: mvn install -Pdistribution -pl documentation -am -s maven-settings.xml

    - name: Clone infinispan.github.io
      uses: actions/checkout@master
      with:
        repository: infinispan/infinispan.github.io
        ref: master
        path: infinispan.github.io

    - if: github.ref == 'refs/heads/main'
      name: Copy docs to dev
      run: |
        cp -r documentation/target/generated/1*/html/* infinispan.github.io/docs/dev/

    - if: github.ref == 'refs/heads/13.0.x'
      name: Copy docs to stable
      run: |
        cp -r documentation/target/generated/1*/html/* infinispan.github.io/docs/stable/

    - name: Commit files
      run: |
        cd infinispan.github.io
        git config -l | grep 'http\..*\.extraheader' | cut -d= -f1 | xargs -L1 git config --unset-all
        git config --global user.email "infinispan@infinispan.org"
        git config --global user.name "Infinispan"
        git add . --all
        git commit -m "Synchronized core docs from ${{ github.ref }}"

    - name: Push to the community site
      uses: cpina/github-action-push-to-another-repository@main
      env:
        API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
      with:
        source-directory: 'infinispan.github.io'
        destination-github-username: 'infinispan'
        destination-repository-name: 'infinispan.github.io'
        user-email: infinispan@infinispan.org
        target-branch: master
