name: Synchronize changes to the website

on:
  push:
    branches:
      - 'main'
      - '14.0.x'
    paths:
      - 'documentation/**'

jobs:
  upload:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Setup Maven
      uses: s4u/setup-maven-action@v1.19.0
      with:
        java-version: 17
        maven-version: 3.9.0

    - name: Build docs with Maven
      run: mvn install -Pdistribution -pl documentation -am 

    - name: Clone infinispan.github.io
      uses: actions/checkout@master
      with:
        repository: infinispan/infinispan.github.io
        ref: master
        path: infinispan.github.io

    - name: Copy docs to version
      run: |
        cp -r documentation/target/generated/1*/html/* infinispan.github.io/docs/${{ github.ref_name }}

    - name: Commit files
      run: |
        cd infinispan.github.io
        git config -l | grep 'http\..*\.extraheader' | cut -d= -f1 | xargs -L1 git config --unset-all
        git config --global user.email "infinispan@infinispan.org"
        git config --global user.name "Infinispan"
        git add . --all
        git commit -m "Synchronized core docs from ${{ github.ref }}"

    - name: Push to the community site
      uses: cpina/github-action-push-to-another-repository@main
      env:
        API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
      with:
        source-directory: 'infinispan.github.io'
        destination-github-username: 'infinispan'
        destination-repository-name: 'infinispan.github.io'
        user-email: infinispan@infinispan.org
        target-branch: master
