name: Cross-compatibility with new Infinispan Server

on:
  schedule:
    - cron: '0 2 * * *' # Runs every night at 2:00 AM UTC
  workflow_dispatch:
  push:

jobs:
  nightly-build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: read
    steps:
      - name: Get latest Infinispan Server version
        id: get-latest-server-ver
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          VERSION=$(gh release view --repo infinispan/infinispan --json name -q .name)
          echo "ISPN_SERVER_VER=$VERSION" >> $GITHUB_ENV

      - name: Checkout 14.0.x branch
        uses: actions/checkout@v6
        with:
          ref: 14.0.x

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Download and unzip Infinispan Server ${{ env.ISPN_SERVER_VER }}
        run: |
          wget https://github.com/infinispan/infinispan/releases/download/${ISPN_SERVER_VER}/infinispan-server-${ISPN_SERVER_VER}.zip
          unzip infinispan-server-${ISPN_SERVER_VER}.zip

      - name: Maven Install (skip tests)
        run: ./mvnw install -DskipTests -B

      - name: Replace configuration folder from 16.0.x
        run: |
          rm -rf server/tests/src/test/resources/configuration
          git fetch origin 16.0.x
          git checkout origin/16.0.x -- server/tests/src/test/resources/configuration
          git checkout origin/16.0.x -- server/tests/src/test/resources/jgroups_metrics.txt

      - name: Maven Verify (server/tests)
        run: |
            ./mvnw clean verify \
            -V -B -e -DrerunFailingTestsCount=2 \
            -fae -Dansi.strip=true \
            -pl server/tests -DdefaultExcludedJUnitGroups=embeddedserver,cli \
            -Dorg.infinispan.test.server.dir=${{ github.workspace }}/infinispan-server-${ISPN_SERVER_VER}/ \
            -Dorg.infinispan.test.server.container.newerThan14=true \
            -Dorg.infinispan.test.database.jdbc.drivers=com.oracle.database.jdbc:ojdbc11:23.5.0.24.07,\
            com.ibm.db2:jcc:12.1.2.0,com.microsoft.sqlserver:mssql-jdbc:12.10.1.jre11
        # Get GitHub App token to use in API calls

      - name: Upload test reports
        uses: actions/upload-artifact@v4
        with:
          name: test-reports
          path: '**/*-reports*/**/TEST-*.xml'
          if-no-files-found: warn
        if: always()

      - name: Upload server test logs
        uses: actions/upload-artifact@v4
        with:
          name: server-test-logs
          path: server/tests/**/*.log
          if-no-files-found: warn
        if: always()

      - name: Publish Test Report
        uses: ctrf-io/github-test-reporter@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          IS_FORK_PR: ${{ github.event_name == 'pull_request' && github.event.pull_request.head.repo.fork }}
        with:
          summary-delta-report: ${{ env.IS_FORK_PR }}
          failed-folded-report: ${{ env.IS_FORK_PR }}
          slowest-report: ${{ env.IS_FORK_PR != 'true' }}
          previous-results-report: ${{ env.IS_FORK_PR != 'true' }}
          report-path: '**/*-reports*/**/TEST-*.xml'
          write-ctrf-to-file: './ctrf-reports/ctrf-report.json'
          integrations-config: |
            {
              "junit-to-ctrf": {
                "enabled": true,
                "action": "convert",
                "options": {
                  "output": "./ctrf-reports/ctrf-report.json",
                  "toolname": "junit-to-ctrf",
                  "useSuiteName": false,
                  "env": {
                    "appName": "my-app"
                  }
                }
              }
            }
        if: always()